.results-heading
{
	-moz-border-radius-bottomleft:0;
    -moz-border-radius-bottomright:5px;
    -moz-border-radius-topleft:0;
    -moz-border-radius-topright:5px;
    background:#CCCCCC url(/images/result_heading_gradient.gif) repeat-x scroll 0 bottom;
    border:1px solid #CCCCCC;
    clear:both;
    height:29px;
    margin:12px 0;
    width:736px;
    
    outline-color:-moz-use-text-color;
    outline-style:none;
    outline-width:0;
    padding:0;

    color:#3E3E3E;
    font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;

    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
}
.rounded {
	vertical-align:baseline;

}

.results-heading h3
{
	font-size:12px;
	font-weight:bold;
	line-height:28px;
	padding-left:9px;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	
}


.product_list 
{
	clear:both;
	width:744px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	line-height:100%;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.product_item:hover
{
	
	border:1px solid #888888;	
}

.product_item
{
	background:transparent url(/images/result_gradient.gif) repeat-x scroll center bottom;
	border:1px solid #CCCCCC;
	display:block;
	float:left;
	font-size:12px;
	height:318px;
	margin:0 12px 12px 0;
	position:relative;
	width:234px;	
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height:100%;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.product
{
	display:block;
	height:146px;
	margin:4px auto 0;
	overflow:hidden;
	width:204px;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height:100%;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	cursor:pointer;
}

.product_item h4
{
	

	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	line-height:12px;
	margin:26px 11px 9px;
}

.product_item ul
{
	font-size:10px;
	list-style-type:square;
	margin:0 24px;
	list-style-image:none;
	list-style-position:outside;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	line-height:100%;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.product_list ul li
{
	padding:0 0 4px;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
	list-style-type:square;
	list-style-image:none;
	list-style-position:outside;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
.price
{
	bottom:0;
	font-weight:bold;
	height:27px;
	padding-left:11px;
	position:absolute;
	width:160px;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height:100%;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
}

.price span
{
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	font-weight:bold;	
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	line-height:100%;
}

.button3
{
	bottom:0;
	margin:0 8px 8px 0;
	position:absolute;
	right:0;
	width:65px;
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	background:#606060 url(/images/button3.png) repeat-x scroll 0 0;
	border:1px solid #606060;
	display:inline-block;
	text-align:right;
	vertical-align:middle;
	font-size:100%;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;	
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	line-height:100%;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
.button3 span,
.button3 a
{
	color:#FFFFFF !important;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	padding:0 10px;
	text-decoration:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
	text-align:right;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	cursor:pointer;
}

.button3:hover
{
	background-position:0 -24px;
}

.transparent
{
	background-color:transparent;
}

.itemDiv
{
	color:#3E3E3E;
	height:100%;
	margin:0 0 20px;
	/*max-height:403px;*/
	min-height:305px;
	position:relative;
	width:733px;
	border-bottom:1px solid #EBEBEB;

	border:0 none;
	font-size:100%;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;

}

.grayBackground
{
    background:transparent url(/images/background_gray.gif) repeat-x scroll left bottom;

}

.producttitle
{
	float:left;
	margin:5px 0 0 10px;
	min-height:69px;
	position:relative;	
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	color:#3E3E3E;
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.productDetailContainer
{
	clear:left;
	float:left;
	margin:0 0 15px 15px;
	position:relative;
	width:342px;
	
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	color:#3E3E3E;
	
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.productDetailContainer p
{
	line-height:20px;
	margin-top:30px;
	color:#666666;
	font-size:9px;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.divider
{
	border-bottom:1px solid #EBEBEB;
	height:20px;
	width:100%;	
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	color:#3E3E3E;
	
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.middlecontainer
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	color:#3E3E3E;
	
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.singledelivery
{
	height:115px;
	font-size:11px;
	line-height:18px;
	vertical-align:middle;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;	
	color:#3E3E3E;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.addToCartDiv
{
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	color:#3E3E3E;
	
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}

.itemBigPicContainer
{
	float:right;
	height:100%;
	margin-right:14px;
	overflow:hidden;
	position:absolute;
	right:0;
	top:0;
	width:342px;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	color:#3E3E3E;

	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
.clearfloat
{
	clear:both;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	font-weight:bold;
	line-height:14px;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
}

.itemBigPic
{
	background-repeat:no-repeat;
	position:absolute;
	right:0;
	top:0;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	color:#3E3E3E;
	
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
}
ins {
	text-decoration:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	font-weight:bold;
	line-height:14px;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
}

.button2
{
	
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	float:left;
	background:#416400 url(/images/button2.png) repeat-x scroll 0 0;
	border:1px solid #416400;
	display:inline-block;
	text-align:right;
	vertical-align:middle;
	font-size:100%;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	color:#3E3E3E;
	line-height:100%;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	
	
	
}
.button2 span,
.button2 a
{
	color:#FFFFFF !important;
	display:inline-block;
	font-size:12px;
	font-weight:bold;
	height:24px;
	line-height:24px;
	padding:0 10px;
	text-decoration:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	margin:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
	text-align:right;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	cursor:pointer;
}

.button2:hover
{
	background-position:0 -24px;
}

.detailPrice
{
	float:left;
	font-size:12px;
	font-weight:bold;
	line-height:14px;
	margin-left:10px;	
	background:transparent none repeat scroll 0 0;
	border:0 none;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
}
.normalprice
{
	display:block;
	font-size:14px;
	font-weight:bold;
	margin:5px 0;
	text-decoration:none;
	background:transparent none repeat scroll 0 0;
	border:0 none;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	padding:0;
	vertical-align:baseline;	
	line-height:14px;
	color:#3E3E3E;
	font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
	font-size-adjust:none;
	font-style:normal;
	font-variant:normal;
	
}

.round
{
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
}

#ms-header-container #ms-header
{
height:71px;
margin:0 0 20px;
position:relative;
width:100%;
}

#ms-header-container #ms-header h1 {
height:58px;
left:-10px;
position:absolute;
top:-6px;
width:214px;
}

#ms-header-container #ms-header ul {
list-style-image:none;
list-style-position:outside;
list-style-type:none;
}

#ms-header-container #ms-header h1 * {
display:block;
height:100%;
width:100%;
}

a {
text-decoration:none;
}

#ms-header-container #ms-header > ul > li {
margin:0 0 12px;
text-align:right;
}

#ms-header-container #ms-header ul ul {
display:inline;
}

#ms-header-container #ms-header > ul ul li {
display:inline;
padding:0 0 0 20px;
color:#3E3E3E;
font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
margin: 0;
}

#ms-header-container #siteSearch {
position:relative;
z-index:8500;
}

#ms-header-container #siteSearch form, #stage #siteSearch fieldset {
display:inline;
}

#ms-header-container #siteSearch form .rounded {
-moz-border-radius-bottomleft:3px;
-moz-border-radius-bottomright:3px;
-moz-border-radius-topleft:3px;
-moz-border-radius-topright:3px;
}

#ms-header-container #siteSearch fieldset {
background-color:#FFFFFF;
border:1px solid #B6B6B6;
padding:0 3px 0 0;
vertical-align:middle;
}

#ms-header-container #siteSearch form, #stage #siteSearch fieldset {
display:inline;
}

#ms-header-container #siteSearch button {
background-color:#F9F9F9;
border-color:-moz-use-text-color -moz-use-text-color -moz-use-text-color #B6B6B6;
border-style:none none none solid;
border-width:medium medium medium 1px;
color:#676767;
cursor:pointer;
font-size:10px;
height:18px;
padding-bottom:2px;
width:34px;
}
html
{
	background:#BBBBBB none repeat scroll 0 0;
}
html, input, button {
-x-system-font:none;
color:#3E3E3E;
font-family:"Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
font-size:10px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.whitepanel2 {
	background-color:#FFFFFF;
	padding:20px 10px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	border-top:1px solid #CCCCCC;
}
span#forgetPassword {
	text-decoration: underline;
	font-weight: normal;
}
